if ($programname == "{{ service }}") then {
        action(
                type="omfile"
                FileOwner="{{ sfa_enduro_worker_system_user }}"
                FileGroup="{{ sfa_enduro_worker_system_group }}"
                File="{{ logfile }}"
                FileCreateMode="0644"
        )
	{% if sfa_enduro_worker_remote_syslog != "none" %}
	*.*      @@{{ sfa_enduro_worker_remote_syslog }}
        {% endif %}
        stop
}
